/**
* Reset CSS https://meyerweb.com/eric/tools/css/reset/
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** End Reset */

/* Body rules */

* {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  z-index: 800;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 2px #ebebeb5e;
}

nav svg {
  width: 15%;
}

.left-items,
.right-items {
  padding: 1rem;
}

.left-items {
  display: flex;
  flex-direction: row;
  width: 15rem;
  font-weight: 600;
}

.left-items svg {
  font-size: 1.1rem;
}

.left-items a {
  text-decoration: none;
  color: black;
}

.right-items button {
  background-color: #567b95;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
main {
  padding: 5rem 0;
  min-height: 120vh;
}

/*Main */

main h1 {
  font-size: 2.5rem;
  font-family: georgia, "times new roman", times, serif;
  line-height: 3rem;
  border-bottom: 1px solid #ebebeb;
  font-weight: 600;
}

main h3 {
  font-size: 1.4rem;
  font-family: georgia, "times new roman", times, serif;
  line-height: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #333;
}

div.head > * {
  padding: 0.8rem 0;
}

.head,
.author,
.sign-up,
.article {
  max-width: 45vw;
  margin: auto;
  text-align: left;
}

.head ul li {
  display: inline-block;
  margin: 0 0.4rem;
}

.no-bg {
  font-size: 1.8rem;
  background-color: #fff;
}

.social-rounded {
  background-color: #eee;
  border-radius: 100%;
  padding: 0.3rem;
}

/* Image large */
.image-large figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70vw;
  margin: auto;
  padding: 1rem 0;
}

.image-large figure img {
  width: 100%;
  padding: 1rem 0;
}

.image-large figure figcaption {
  width: 75%;
  color: #666;
}

.image-large figcaption span {
  color: #888;
  font-size: 0.9rem;
}

/* Article author */
.author .by {
  font-weight: 800;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.author .date {
  font-size: 0.8rem;
}

.by a {
  color: black;
}

.author {
  padding: 1.5rem 0 3rem 0;
  border-bottom: 1px solid #ebebeb;
}

.sign-up {
  padding-top: 1rem;
  display: flex;
}

.sign-up span {
  font-weight: 700;
  font-style: normal;
}

.sign-up p {
  font-style: italic;
}

.sign-up button {
  min-width: 5rem;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  font-size: 0.8rem;
  font-weight: 600;
}

.sign-up button:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}

/* Article text */

.article {
  padding: 1.4rem 0;
}

.article p {
  font-size: 1.4rem;
  padding: 0.8rem 0;
  color: #333;
}

.article a {
  color: #326891;
}

.article a:hover {
  text-decoration: none;
}

/*Suscribe text inside article */

.suscribe {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
}

.suscribe p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 0;
  margin: auto;
  display: table;
}

/*Border for suscription inside article */
.border-down::after,
.border-top::after {
  border-bottom: 1px solid #ccc;
  content: " ";
  display: block;
  width: 4rem;
  margin: 1rem auto 0 auto;
}

.border-down {
  color: #326891;
}

.border-down::after {
  margin-top: 1.5rem;
}

.border-top::after {
  margin-top: -1.5rem;
}

/*Article image with  text*/
.image-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 70vw;
  min-height: 40vw;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: auto;
  background: url(./images/inflation-945.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.first {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.second {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.third {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.fourth {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.fifth {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.sixth {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.seventh {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.eigth {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

/*higlight*/
.hl {
  font-weight: 600;
}
